<div id="contenedor" class="m-4">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Bienvenido
            </div>
            <form [formGroup]="formLogin">
                <input type="text" placeholder="Usuario" required formControlName="usuario">
                
                <input type="password" placeholder="Contraseña" required formControlName="password" >
                
                <button type="submit" title="Ingresar" name="Ingresar" value="enviar">Login</button>
            </form>
            <div class="pie-form">
                <a href="#">¿Perdiste tu contraseña?</a>
                <a routerLink="/auth/register">¿No tienes Cuenta? Registrate</a>
            </div>
        </div>

    </div>
</div>