<div id="contenedor" class="m-4">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Ingresa el ID del alumo a modificar
            </div>
            <form [formGroup]="formModificar">
                <input type="text" placeholder="ID Alumno" required formControlName="id">
                
                                              
                <button type="submit" title="Ingresar" name="Ingresar" value="enviar" (click)="modificar()">Agregar</button>
            </form>
           
        </div>

    </div>
</div>