<div id="contenedor" class="m-4">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Buscar Alumno por ID
            </div>
            <form [formGroup]="formPut" (ngSubmit) = "putForm(formPut.value)">
                <input type="text" placeholder="ID del alumno" required formControlName="id">
                
                     
                <button type="submit" title="Ingresar" name="Ingresar">Buscar</button>
                <button (click)="salir()">Salir</button>
      
            </form>
           
        </div>

    </div>
</div>



<div id="contenedor" class="m-4">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Agregar Alumno a la BD
            </div>
            <form [formGroup]="formPut" (ngSubmit) = "putForm(formPut.value)">
                <input type="text" placeholder="Nombre Completo" required formControlName="nombre">
                
                <input type="email" placeholder="Email" required formControlName="correo" >

                <input type="text" placeholder="Imagen" required formControlName="imagen" >
                <input type="text" placeholder="Estado Alumno" required formControlName="activo" >
                  <div>              
                <button type="submit" title="Ingresar" name="Ingresar">Guardar</button>
                <button (click)="salir()">Salir</button>
            </div>
            </form>
           
        </div>

    </div>
</div>