<div class="container">
    <br>
  <h1 class="text-center">Listado de cursos</h1>
  
  <button type="button" class="btn btn-primary" (click)="nuevoCurso()">Agregar Curso</button>
  
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
             
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of cursosList" (click)="editarCurso(curso.id)">
          <th scope="row">{{curso.id}}</th>
          <td>{{curso.nombre}}</td>
          <td>{{curso.precio}}</td>
          <td>{{curso.imagen}}</td>

  
        </tr>
       
      </tbody>
    </table>
          
  </div>