<div id="contenedor" class="m-4">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Registro user
            </div>
            <form [formGroup]="formReg">
                <input type="text"  placeholder="Usuario" required formControlName="usuario">
                
                <input type="password" placeholder="Contraseña"  required formControlName="password" >
                
                <button type="submit" title="Ingresar" name="Ingresar" value="enviar">Register</button>
            </form>
            <div class="pie-form">
                <a href="#">¿Perdiste tu contraseña?</a>
                <a href="#">¿No tienes Cuenta? Registrate</a>
            </div>
        </div>

    </div>
</div>
