

            <mat-expansion-panel [class.mat-elevation-z0]="false">
                <mat-expansion-panel-header>
                    Inicio
                </mat-expansion-panel-header>
                
                <mat-nav-list>
                    <a mat-list-item routerLink="home">
                        <mat-icon>home</mat-icon><span>Home</span>
                    </a>
                    <a mat-list-item routerLink="auth/login">
                        <mat-icon>login</mat-icon><span>Login</span>
                    </a>
                    <a mat-list-item routerLink="home">
                        <mat-icon>logout</mat-icon><span>Logout</span>
                    </a>
                  
                </mat-nav-list>
            </mat-expansion-panel>
          

            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    Panel Principal
                </mat-expansion-panel-header>

                
                <mat-nav-list>
                    <a mat-list-item routerLink="estudiantes/listar">
                        <mat-icon>people</mat-icon><span>listar</span>
                    </a>
                    <a mat-list-item routerLink="estudiantes/agregar">
                        <mat-icon>person_add</mat-icon><span>Agregar</span>
                    </a>
                    <a mat-list-item routerLink="estudiantes/buscar">
                        <mat-icon>android</mat-icon><span>Buscar</span>
                    </a>
                    <a mat-list-item routerLink="estudiantes/modificar">
                        <mat-icon>android</mat-icon><span>Actualizar</span>
                    </a>
                    <a mat-list-item routerLink="estudiantes/eliminar">
                        <mat-icon>delete_sweep</mat-icon><span>Eliminar</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>


           

  
