<div id="contenedor" class="m-4">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Ingresa el ID del alumno a buscar
            </div>
            <form [formGroup]="formBuscar" (click)="buscar()">
                <input type="text" placeholder="ID Alumno" required formControlName="id">
                
                                              
                <button type="submit" title="Ingresar" name="Ingresar">Busqueda</button>
            </form>
           
        </div>

    </div>
</div>

