.example-card {
    max-width: 165px;
    margin-bottom: 2px;
  margin-top: 2px;
   }
   
   .example-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Logo_de_la_UANL.svg/640px-Logo_de_la_UANL.svg.png');
     background-size: cover;
   }
 
   #tarjeta {
 
     justify-content: center;
    
   }