<div id="contenedor" class="m-4">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Editar Curso
            </div>
            <form [formGroup]="editarForm" (ngSubmit) = "postForm(editarForm.value)">
                <input type="text" placeholder="Nombre Curso" required formControlName="nombre">
                
                <input type="text" placeholder="Precio" required formControlName="precio" >

                <input type="text" placeholder="Imagen" required formControlName="imagen" >
                  <div>              
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" (click)="eliminar()">Eliminar</button>
                    <button type="button" class="btn btn-dark" (click)="salir()">Salir</button>
            </div>
            </form>
           
        </div>

    </div>
</div>