<div id="contenedor" class="m-4">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Agregar Incripcion a la BD
            </div>
            <form [formGroup]="formAdd" (ngSubmit) = "postForm(formAdd.value)">
                <input type="text" placeholder="Nombre Curso" required formControlName="curso">
                
                <input type="text" placeholder="Alumno" required formControlName="alumno" >

                <input type="text" placeholder="Estatus" required formControlName="estatus" >

                             

                  <div>              
                <button type="submit" title="Ingresar" name="Ingresar">Agregar</button>
                <button (click)="salir()">Salir</button>
            </div>
            </form>
           
        </div>

    </div>
</div>

